@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

.main_parent{
    padding-bottom: 250px;

}

.head_bgs{
    font-size: 2em;
    font-weight: bold;
    letter-spacing: -1px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 3em 0 0em;
}
  
  .carousel_wrapper {
    

    position: relative;
    width: 320px;
    margin: 70px auto 200px ;
    perspective: 1000px;
  }
  
  .carousel {
    position: absolute;
    width: 100%;
 
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateY(-360deg) translateZ(-412px);
    animation: swirl 100s steps(10000, end) infinite;
  }
  
  .slide {
    position: absolute;
 
  

    width: 280px;
    height: 187px;
  }
  
  .slide img {

    width: 140px;
    height: 187px;
   
  
  }
  .sub_slide{
    border-radius: 5px;
    width: 280px;
    height: 187px;
  }
  #s_one,#s_five{
    box-shadow: 0px 0 3px 3px rgba(224, 231, 12, 0.9);
  }
  #s_two,#s_six,#s_nine{
    box-shadow: 0 0 3px 3px rgba(232, 78, 55, 0.9);
  }
  #s_three,#s_seven{
    box-shadow: 0 0 3px 3px rgba(53, 133, 231, 0.9);
  }
  #s_four,#s_eight{
    box-shadow: 0 0 3px 3px rgba(58, 236, 55, 0.9);
  }
  
  

  
  .slide.one {
    transform: rotateY(0deg) translateZ(412px);
  }
  .slide.two {
    transform: rotateY(40deg) translateZ(412px);
  }
  .slide.three {
    transform: rotateY(80deg) translateZ(412px);
  }
  .slide.four {
    transform: rotateY(120deg) translateZ(412px);
  }
  .slide.five {
    transform: rotateY(160deg) translateZ(412px);
  }
  .slide.six {
    transform: rotateY(200deg) translateZ(412px);
  }
  .slide.seven {
    transform: rotateY(240deg) translateZ(412px);
  }
  .slide.eight {
    transform: rotateY(280deg) translateZ(412px);
  }
  .slide.nine {
    transform: rotateY(320deg) translateZ(412px);
  }
  
  /*
  CSS3 ANIMATION
  -------------------
  Simply rotates the carousel around the Y axis by using rotateY and starting at initial value, -360º, and going to final value 0º, then resetting.
  */
  
  @keyframes swirl {   
    from {
      transform: rotateY(-360deg);
    }
    to {
      transform: rotateY(0deg);
    }
  } 


  @media only screen and (max-width:767px) {
    .main_parent{
        padding-bottom: 350px;
    
    }
    .slide {
        position: absolute;
     
      
    
        width: 180px;
     
      }
      
      .slide img {
    
        width: 180px;
        
       
      
      }
      .sub_slide{
        border-radius: 5px;
        width: 180px;
    
      }
      .slide.one {
        transform: rotateY(0deg) translateZ(268px);
      }
      .slide.two {
        transform: rotateY(40deg) translateZ(268px);
      }
      .slide.three {
        transform: rotateY(80deg) translateZ(268px);
      }
      .slide.four {
        transform: rotateY(120deg) translateZ(268px);
      }
      .slide.five {
        transform: rotateY(160deg) translateZ(268px);
      }
      .slide.six {
        transform: rotateY(200deg) translateZ(268px);
      }
      .slide.seven {
        transform: rotateY(240deg) translateZ(268px);
      }
      .slide.eight {
        transform: rotateY(280deg) translateZ(268px);
      }
      .slide.nine {
        transform: rotateY(320deg) translateZ(268px);
      }

  }