@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
.team_section1{
    padding: 0 3% 0;
    min-height: 650px;

}
.main_t{
    font-family: "Poppins", Sans-serif;
}
.heading_team1{
    padding-top: 50px;
    padding-left: 3%;
    color: #000000;

    font-size: 1.8em;
    font-weight: 500;
    text-transform: uppercase;
   
    letter-spacing: 0px;
}


.main_card{
    padding: 0%;
    width:33.33%;
}
.hr1_team{
    
    width: 93%;
    margin: 0.6em 3% 0.6em 3% ;
    
  
    height: 1px;
    background-color: #000000;
    
}
.team_main_section1{
    display:flex;
    font-family: "Poppins", Sans-serif;
    padding-top: 1em;
    gap:2em;
}
.personal_image{
    margin: 0px 0px 15px 0px;

}
.personal_image img{
    height:450px;
    width: 90%;
   
    
}
.t_det{
 padding-top: 10px;
}

.team_btn{
    padding:15px 10px;
    
}
.team_btn:hover{
    background-color: rgb(187, 184, 184);
    color: white;
    cursor: pointer;

}


.card_name{
    margin: 0em 0em 1em 0em;
}
.card_name h3{
    color: #000000;
    
    font-size: 18px;
    font-weight: 500;
    text-transform: none;
    line-height: 1.2em;
    letter-spacing: 0px;
}
small{
    color: #9A9A9A;
    font-weight: 500;
    font-size: .867em;
}
.card_para  p{
    
    margin-bottom: 0.5em;
    vertical-align: middle;
    letter-spacing: 0.02rem;
    font-size: 14px;
    line-height: 22px;
}

.link_team{
    text-decoration: none;
    color:black;
}
.head_time{
 
    font-size: 3em;
    font-weight: 600;
  padding-bottom: 20px;
   
    letter-spacing: -1px;
    padding-left: 3%;
    
}

.delivers{
     
    font-size: 2.8em;
    font-weight: 600;
    letter-spacing: -1px;
    padding-left: 3%;
  
}
.opts{
    padding-left: 3%;
}

.main_inc{
    display:flex;
}


.dt{
   
font-size: 1.2rem;
font-weight: 600;
right:0px;
padding-right: 10px;
}


.end_sec{
    display: flex;
    margin-top: 100px;

}
.p_icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fab{
    background-color: black;
    padding: 10px;
    border-radius: 50%;
}

.sec1{
width: 33.33%;
height: 1px;
background-color: black;
margin: 10px 0 0 3%;
}
.sec2{
    width: 33.33%;
    text-align: center;
align-items: center;
}
.sec3{
    width: 33.33%;
    height: 1px;
background-color: black;
margin: 10px 3% 0 0;

}



@media only screen and (max-width:1024px) {
.team_section1{
    padding-left: 2%;
    padding-right: 2%;
}
}
@media only screen and (min-width:768px) {
    .sub_incs{
        border-bottom: 1px solid grey;
        width:700px;
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: -0.3px;
    }
    .inc{
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 600;
        color: #9A9A9A;
        padding-bottom: 15px;
        border-bottom: 1px solid grey;
        width:700px;
    }
}
@media only screen and (max-width:767px) {
.team_main_section1{
    display: flex;
    flex-direction: column;
}
.main_card{
    width:100%;
}
.card_para  p{
    
    font-size: 14px;
    padding-bottom: 4%;
}
.main_card2{
    width:100%;
}
.opts{
    padding-right: 3%;
}
.sub_incs{
    border-bottom: 1px solid grey;

    font-size: 1rem;
    font-weight: 500;
    letter-spacing: -0.3px;
}
.inc{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    color: #9A9A9A;
    padding-bottom: 15px;
    border-bottom: 1px solid grey;
    
}
.personal_image img{
    height:450px;
    width: 100%;   
}
}
